<form class="ga-form form-inline" action="{{ path('analytic_data') }}" style="width: 200px">
    <div class="form-group">
        <input name="ga-date" type="text" class="ga-datepicker form-control form-control" placeholder="Start date"/>
    </div>
</form>
<div class="result-block">
    {{ include(
    'ArcanaAnalyticBundle:Default:visitors.html.twig',
    { 'visitChartData': visitChartData, 'summary' : summary }
    ) }}
</div>