{% javascripts
'@ArcanaAnalyticBundle/Resources/public/js/jqplot/jquery.jqplot.js'
'@ArcanaAnalyticBundle/Resources/public/js/jqplot/plugins/jqplot.pointLabels.js'
'@ArcanaAnalyticBundle/Resources/public/js/jqplot/plugins/jqplot.highlighter.min.js'
'@ArcanaAnalyticBundle/Resources/public/js/jqplot/plugins/jqplot.cursor.min.js'
'@ArcanaAnalyticBundle/Resources/public/js/jqplot/plugins/jqplot.dateAxisRenderer.min.js'

'@ArcanaAnalyticBundle/Resources/public/js/graphbuilder.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script>
    $(function(){
        $('.ga-datepicker').datepicker({
            'dateFormat': "dd-mm-yy",
            'onSelect': function(date){
                var url = $('.ga-form').attr('action');
                var dateParts = date.split('-');
                var url = url + '/' + dateParts[2] + '-' + dateParts[1] + '-' + dateParts[0];

                $.ajax({
                    type: "POST",
                    url: url,
                    beforeSend: function(){
                        $('.result-block').animate({
                            'opacity':'0.5'
                        });
                    },
                    data: {}
                })
                        .done(function(response) {
                            $('.result-block').html(response);
                            $('.result-block').animate({
                                'opacity':'1'
                            });
                        });
            },
        });
    });

</script>

{% endjavascripts %}