<div class="well analytic-data">
    <div class="summary row">
        <div class="span3 col-md-2 visit-cell">
            <div>
                <div class="summary-title">
                    Visits
                </div>
                <div class="summary-data analytics-value">
                    {{ summary.visits|number_format(0, '.', ',')}}
                </div>
            </div>
        </div>
        <div class="span3 col-md-2 visit-cell">
            <div>
                <div class="summary-title">
                    Unique Visitors
                </div>
                <div class="summary-data analytics-value">
                    {{ summary.visitors|number_format(0, '.', ',') }}
                </div>
            </div>
        </div>
        <div class="span3 col-md-2 visit-cell">
            <div>
                <div class="summary-title">
                    Pageviews
                </div>
                <div class="summary-data analytics-value">
                    {{ summary.pageviews|number_format(0, '.', ',') }}
                </div>
            </div>
        </div>
        <div class="span3 col-md-2 visit-cell">
            <div>
                <div class="summary-title">
                    Avg. Visit Duration
                </div>
                <div class="summary-data analytics-value">
                    {{ summary.avgVisitTime }}
                </div>
            </div>
        </div>
        <div class="span3 col-md-2 visit-cell">
            <div>
                <div class="summary-title">
                    Bounce rate
                </div>
                <div class="summary-data analytics-value">
                    {{ summary.visitBounceRate|number_format(2, '.', ',') }}
                </div>
            </div>
        </div>
        <div class="span3 col-md-2 visit-cell">
            <div>
                <div class="summary-title">
                    New Visits
                </div>
                <div class="summary-data analytics-value">
                    {{ summary.percentNewVisits|number_format(2, '.', ',') }}%
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center">Languages</h3>
    <div class="row">
        {% for langData in languageData %}
            <div class="col-md-1 span2 language-cell">
                <div>
                    <strong>{{ langData.language }}:</strong>
                    <span class="analytics-value">{{ langData.visits }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>