.summary {
    margin-top: 20px;
}
.summary-cell {
    min-height: 40px;
    padding: 10px 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    margin-bottom: 10px;
}

.summary-title {
    font-weight: bold;
    font-size: 15px;
    padding-left: 5px;
    margin-bottom: -3px;
    text-align: center;
}

.summary-data {
    font-size: 30px;
    padding-left: 5px;
    text-align: center;
}

.visit-cell {
    min-width: 175px;
}

.language-table-wrapper {
    width: 260px;
}

.language-cell {
    min-width: 110px;
}
.analytics-value {
    color: #428bca;
    font-weight: bold;
}
.analytic-data.well {
    margin-top: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* DATEPICKER */
#ui-datepicker-div.ui-helper-clearfix.ui-corner-all {
    background: #fff;
}
#ui-datepicker-div .ui-widget-header {
    background: #e5e5e5;
}
#ui-datepicker-div .ui-state-hover, #ui-datepicker-div .ui-widget-content .ui-state-hover,
#ui-datepicker-div .ui-widget-header .ui-state-hover, #ui-datepicker-div .ui-state-focus,
#ui-datepicker-div .ui-widget-content .ui-state-focus, #ui-datepicker-div .ui-widget-header .ui-state-focus {
    background: #dadada;
    border: none;
    background-image: none;
}
#ui-datepicker-div .ui-state-default, #ui-datepicker-div .ui-widget-content #ui-datepicker-div .ui-state-default,
#ui-datepicker-div .ui-widget-header .ui-state-default {
    background: #e6e6e6 50% 50% repeat-x;
    background-image: none;
}
#ui-datepicker-div .ui-state-highlight, #ui-datepicker-div .ui-widget-content .ui-state-highlight,
#ui-datepicker-div .ui-widget-header .ui-state-highlight {
    border: 1px solid #C0C0C0;
    background: #fff 50% 50% repeat-x;
    color: #428bca;
}
#ui-datepicker-div .ui-state-hover, #ui-datepicker-div .ui-widget-content .ui-state-hover,
#ui-datepicker-div .ui-widget-header .ui-state-hover, #ui-datepicker-div .ui-state-focus,
#ui-datepicker-div .ui-widget-content .ui-state-focus, #ui-datepicker-div .ui-widget-header .ui-state-focus {
    border: 1px solid #C0C0C0;
    color: #428bca;
}
#ui-datepicker-div .ui-datepicker th {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: normal;
    color: #4B4B4B;
}